@{
    ViewData["Title"] = "Home";
}
   <div class="text-white text-center jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <h1 class="display-4">Rick and Morty</h1>
    <p>Validierungsaufgabe</p>
    <hr />
  </div>
</div>
<div class="container text-center" style="display:flex; justify-content:center;">
    
<img src="~/assets/home.jpg" class="img-fluid " alt="Responsive image">
<img src="~/assets/home.jpg" class="img-fluid " alt="Responsive image">
<img src="~/assets/home.jpg" class="img-fluid " alt="Responsive image">
</div>

