@{
    ViewData["Title"] = "Standorte";
}
   <div class="text-white text-center jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <h1 class="display-4">Standorte</h1>
    <hr />
  </div>
</div>
